@font-face {
	font-family: 'Roboto-Regular';
	src: url(../font/Roboto-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}
/***** RESET BROWSER STYLE *****/
/*******************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 21px;
	outline: none;
}
::selection {
	background: #ccc;
	color: #fff;
	text-shadow: none;
} /* Safari */
::-moz-selection {
background: #ccc;
color: #fff;
text-shadow: none;
} /* Firefox */
:-moz-placeholder {
color: #bbb;
}
::-webkit-input-placeholder {
color: #bbb;
}
:-ms-input-placeholder {
color: #bbb;
}
a, a:link {
	color: blue;
}
h4 {
	font-size: 16px;
}
a, a:hover, a:link, a:active, a:focus {
	outline: none;
	color: #0866c6;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
input, select, textarea, button {
	outline: none;
	font-size: 13px;
	font-family: 'Roboto-Regular', 'Helvetica Neue', Helvetica, sans-serif;
}
strong {
	font-weight: normal;
}
label, input, textarea, select, button {
	font-size: 13px;
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
	line-height: normal;
}
body {
	background: url(../images/bg1.jpg);
	font-size: 12px;
	font-family: 'Roboto-Regular', 'Helvetica Neue', Helvetica, sans-serif;
}
.top-header {
	background: #0866c6;
	clear: both;
	display: table;
	width: 100%;
	padding-bottom: 2%;
}
#header {
	margin: auto;
	width: 80%;
	max-width: 1200px;
}
.logo {
	width: 160px;
	text-align: center;
	padding-top: 20px;
	float: left;
}
.admin-right {
	float: right;
	background-color: #002952;
	margin-top: 20px;
	border-radius: 5px;
}
#admin-img {
	padding: 11px 0px 11px 10px;
	color: #fff;
	float: left;
}
#admin-text {
	float: left;
}
#admin-img img {
	width: 48px;
	float: left;
}
#admin-text span {
	margin-left: 10px;
	font-size: 14px;
	color: #fff;
	padding-top: 21px;
	display: block;
	float: left;
}
#logout {
	display: block;
	float: right;
	text-decoration: none;
	padding-left: 15px;
	background: url(../images/logoff.png) no-repeat left center;
	margin: 20px 13px 20px 13px;
}
#logout a {
	float: right;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
#menu-panel {
	float: left;
	width: 100%;
	display: table;
	background: url(../images/leftpanelbg.png) repeat 0 0;
}
.nav {
	width: 80%;
	max-width: 1200px;
	margin: auto;
}
.nav ul {
	list-style: none;
}
.nav li {
	float: left;
	padding: 10px 20px;
	border-right: 1px solid #181818;
}
.nav a {
	color: #fff;
	font-size: 14px;
}
.nav li:hover {
	background-color: #2c2c2c;
	color: #fff;
	border-right-color: #232323;
}
.nav a span {
	margin-right: 10px;
	display: table;
	float: left;
}
.iconfa-laptop:before {
	content: url(../images/dashboard-icon.png);
}
.iconfa-Patient:before {
	content: url(../images/patient-icon.png);
}
.iconfa-scheduler:before {
	content: url(../images/scheduler-icon.png);
}
.iconfa-Reports:before {
	content: url(../images/Reports-icon.png);
}
.iconfa-invoice:before {
	content: url(../images/invoice-icon.png);
}
.iconfa-admin:before {
	content: url(../images/admin-icon.png);
}
#body-conten {
	margin: auto;
	width: 80%;
	max-width: 1200px;
	clear: both;
}
.leftpanel {
	width: 260px;
	color: #fff;
	float: left;
	background: url(../images/leftpanelbg.png) repeat 0 0;
}
/*** LEFT PANEL ***/

.leftpanel {
	width: 21%;
	color: #fff;
	float: left;
	max-width: 245px;
	height: 700px;
	margin-top: 10px;
}
.patient-panel {
	float: right;
	width: 100%;
	max-width: 1200px;
	margin-top: 10px;
}
.leftmenu .nav-header {
	font-weight: normal;
	font-size: 11px;
	padding: 5px 20px;
	text-shadow: none;
	background: #232323;
	border-bottom: 1px solid #222;
}
.nav-stacked a {
	color: #fff;
	font-size: 14px;
}
ul.nav-stacked {
	list-style: none;
	border-top: solid 1px #232323;
}
.nav-stacked li {
	padding: 10px 20px;
	border-bottom: 1px solid #232323;
}
.nav-stacked a span {
	margin-right: 10px;
}
.nav-stacked > li > a {
	border: 0;
}
.nav-stacked > li:hover, .nav-stacked > li > a:focus {
	background-color: #0866c6;
	color: #fff;
	border-bottom-color: #232323;
}
.nav-stacked > li.active > a {
	background-color: #0866c6;
	color: #fff;
	border-bottom-color: rgba(0,0,0,0.2);
}
.nav-stacked > li.active > a:hover {
	background-color: #0866c6;
}
.nav-stacked > li.active {
	background-color: #0866c6;
}
.nav-tabs > li {
	margin-bottom: 0;
}
.iconfa-listing {
	content: url(../images/listing-icon.png);
}
.iconfa-Profile {
	content: url(../images/Profile-icon.png)
}
.iconfa-treatment {
	content: url(../images/Treatment-icon.png)
}
.iconfa-referral {
	content: url(../images/Referral.png)
}
.iconfa-certificate {
	content: url(../images/Certificate.png)
}
.nav-stacked a span {
	margin-right: 10px;
	display: table;
	float: left;
}
.right-panel {
	float: right;
	width: 80%;
	max-width: 947px;
}
#breadcrumbs {
	list-style: none;
	height: 31px;
	padding: 4px 0 4px 10px;
	border-left: 1px solid #ccc;
	position: relative;
	background: url(../images/bg_img.png) repeat-x;
	margin-top: 8px;
	border-right: 1px solid #CCCCCC;
}
#right_button {
	float: right;
}
#right_button a {
	float: right;
	color: #6c6c6c;
	display: inline-block;
	border: solid 1px #cfcfcf;
	font-size: 14px;
	line-height: 2.7em;
	background-color: #F0F0F0;
	background-image: -moz-linear-gradient(center top, #FFFFFF 0pt, #E0E0E0 100%);
	background-image: -webkit-linear-gradient(top, white 0, #E0E0E0 100%);
	background-image: linear-gradient(to bottom, white 0, #E0E0E0 100%);
	border-color: #CCCCCC #CCCCCC #AAAAAA;
	box-shadow: 0 0 1px #FFFFFF inset;
	text-shadow: 0 1px 0 #FFFFFF;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 0px 10px;
	text-decoration: none;
	margin-bottom: 5px;
	margin-top: -4px;
}
#right_button a:hover {
	text-decoration: none;
	background: #f7f7f7;
}
.iconfa-add {
	content: url(../images/add.jpg)
}
#right_button .iconfa-add {
	margin-right: 10px;
}
.patient_text {
	float: left;
}
h2 {
	font-size: 16px;
	color: #1a1a1a;
	padding-top: 4px;
}
#search_box {
	float: left;
}
#search_filter {
	float: left;
}
.VS-search .VS-search-inner {
	margin: 0 20px 0 22px;
	overflow: hidden;
	position: relative;
}
.VS-search .search_input {
	float: left;
	height: 28px;
	margin-left: -1px;
}
.VS-search .search_input input {
	color: #A9A9A9;
	font-size: 16px;
	font-weight: none;
	height: 22px;
	line-height: 10px;
	margin-top: -4px;
	min-width: 4px;
	padding: 8px 3px 6px 14px;
	position: relative;
}
.VS-search input {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	box-shadow: none;
	display: block;
	outline: medium none;
}
.VS-search .VS-icon-search {
	left: 13px;
	position: absolute;
	top: 11px;
}
.VS-search .VS-icon-search {
	background-image: url(../images/search_icon.png);
	height: 17px;
	width: 16px;
}
.VS-search .VS-search-box {
	background: none repeat scroll 0 0 #e1eff4;
	border: 2px solid #b5b5b5;
	border-radius: 10px;
	box-shadow: 0 0 3px #CCCCCC inset;
	cursor: text;
	height: 35px;
	margin-top: 10px;
	min-height: 28px;
	position: relative;
}
.one_wrap {
	width: 100%;
	display: inline-block;
}
table.activity_datatable {
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.widget {
	background: #fff;
	box-shadow: 0px 1px 2px 0px #acaeaf;
	-webkit-box-shadow: 0px 1px 2px 0px #acaeaf;
	margin-top: 22px;
	clear: both;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 10px;
}
table.activity_datatable td {
	padding: 5px;
}
table.activity_datatable th {
	padding: 10px 0px;
	font-size: 10px;
	font-weight: normal;
}
table.activity_datatable span.data_actions a {
	padding: 3px 5px;
}
table.activity_datatable th {
	background: url(../images/thead_bg.png) repeat-x bottom center;
	text-transform: uppercase;
	font-size: 16px;
	color: #6c6c6c;
	padding: 8px 0px;
	text-align: left;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #d3d3d3;
	box-shadow: inset 0px 1px 0px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 0px 1px #fff;
	padding-left: 20px;
}
table.activity_datatable td {
	padding: 10px 15px;
	color: #6c6c6c;
	vertical-align: middle;
	text-align: left;
	font-size: 12px;
}
table.activity_datatable tr {
	border-bottom: solid 1px #e5e5e5;
	border-top: solid 1px #ccc;
}
.activity_datatable tbody tr:hover td {
	background-color: #E1F0F4 !important;
}
table.activity_datatable a {
	color: #363e40;
	text-decoration: none;
	line-height: 18px;
}
table.activity_datatable span.pj_cat {
	display: inline-block;
	line-height: 100%;
	background: #757673;
	padding: 3px 5px;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0px 1px 0px #646464;
	border-radius: 3px;
}
table.activity_datatable span.stat_up {
	color: #637b11;
}
table.activity_datatable span.stat_down {
	color: #7b1111;
}
table.activity_datatable span.iconsweet {
	font-size: 17px;
}
table.activity_datatable span.data_actions a {
	color: #6c6c6c;
	float: left;
	margin-right: 1px;
	padding: 0px 5px;
}
table.activity_datatable span.blue_highlight {
	background: #0866c6;
}
#sub_main {
	float: left;
	width: 100%;
}
.title {
	float: left;
	font-size: 25px;
	color: #0866c6;
	width: 50%;
	padding-top: 14px;
}
.pic {
	float: right;
}
#pic_fram {
	float: right;
}
#pic_fram img {
	float: right;
	width: 85px;
	border: solid 2px #D7D7D7;
	border-radius: 44px;
}
#sub_button {
	float: left;
	margin-top: 16px;
}
.edit {
	width: 57px;
	float: left;
	background: url(../images/pdficon.png) no-repeat;
	background-position: -3px -4px;
	height: 57px;
	margin: 0px 8px 0px 0px;
	text-indent: -10000px;
}
.pdf {
	width: 57px;
	float: left;
	background: url(../images/pdficon.png) no-repeat;
	background-position: -79px -1px;
	height: 57px;
	margin: 0px 8px 0px 0px;
	text-indent: -10000px;
}
.print {
	width: 57px;
	float: left;
	background: url(../images/pdficon.png) no-repeat;
	background-position: -154px 0px;
	height: 57px;
	margin: 0px 8px 0px 0px;
	text-indent: -10000px;
}
/*#Profile_Details {
	float: left;
	border: solid 1px #CDCDCD;
	clear: both;
	width: 100%;
}*/
#Profile_Details ul {
	list-style: none;
	line-height: normal;
	margin: auto;
	padding: 0;
}
#Profile_Details li {
	display: table;
	width: 100%;
	background: #fff;
	text-transform: uppercase;
	font-size: 14px;
	color: #6c6c6c;
	padding: 8px 0px;
	text-align: left;
}
.gender_id {
	font-size: 18px;
	color: #606060;
	padding: 3px 0px 0px 11px;
	float: left;
	width: 42%;
}
.right_gender {
	float: right;
	color: #797979;
	padding: 5px 10px 5px 10px;
	width: 50%;
	word-wrap: break-word;
}
#Contact-title {
	float: left;
	margin-top: 0px;
	border-top: solid 1px #C9C9C9;
	width: 100%;
	padding-top: 8px;
	border-radius: 5px 5px 0px 0px;
	background: url(../images/thead_bg.png) repeat-x bottom center #fff;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #d3d3d3;
	box-shadow: inset 0px 1px 0px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 0px 1px #fff;
}
/*#Contact-title {
float: left;
margin-top: 0px;
border-top: solid 1px #C9C9C9;
width: 100%;
padding-top: 8px;
background: #fff;
border-left: solid 1px #C9C9C9;
border-right: solid 1px #C9C9C9;
border-radius: 5px 5px 0px 0px;
display: table;
width: 100%;
background: url(../images/thead_bg.png) repeat-x bottom center #fff;
text-transform: uppercase;
font-size: 14px;
color: #6c6c6c;
padding: 8px 0px;
text-align: left;
border-right: solid 1px #e5e5e5;
border-bottom: solid 1px #d3d3d3;
box-shadow: inset 0px 1px 0px 1px #fff;
-webkit-box-shadow: inset 0px 1px 0px 1px #fff;
}*/

h5 {
	border: aliceblue;
	margin: auto;
	font-size: 18px;
	color: #375b91;
	padding: 0px 0px 7px 10px;
	text-transform: uppercase;
	border-bottom: none;
}
#General_information {
	float: left;
	margin-top: 10px;
	width: 100%;
}
#Profile_Details {
	float: left;
	color: #375b91;
	background: #f3f3f3;
	clear: both;
	width: 100%;
	border-left: solid 1px #ccc;
	border-right: solid 1px #ccc;
}
#Profile_Details ul {
	list-style: none;
	line-height: normal;
	margin: auto;
	padding: 0;
}
#Profile_Details li {
	border-bottom: 1px solid #B1AEAE;
	display: table;
	width: 100%;
}
#Funding-Source {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.stdform {
	float: left;
	width: 100%;
}
.stdform textarea {
	border: 1px solid #ccc;
	background: #fcfcfc;
	padding: 8px 5px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: inset 1px 1px 2px #ddd;
	-webkit-box-shadow: inset 1px 1px 2px #ddd;
	box-shadow: inset 1px 1px 2px #ddd;
	color: #666;
	width: 94%;
	margin-left: 10px;
}
#Treatment {
	float: left;
	width: 100%;
}
#remarks {
	float: left;
	margin-top: 1%;
	width: 100%;
}
#browes {
	float: left;
	width: 100%;
	margin-top: 1%;
}
.gallery ul {
	margin: 0;
	padding: 0;
	list-style: none
}
.gallery ul li {
float: left;
padding: 5px;
border: solid 1px #dedede;
margin: 3px;
}
.gallery {
float: left;
color: #375b91;
background: #f3f3f3;
clear: both;
width: 100%;
border-left: solid 1px #ccc;
border-right: solid 1px #ccc; }
/*.gallery ul li {
	margin-left: 0
}
.gallery ul li. {
	margin-left: 0
}
.gallery ul li {
	margin-left: 0
}
.gallery.gallery-masonry li {
	margin-left: 0
}
.gallery.gallery-2 li{
	padding: 0
}
.gallery.gallery-2 li  {
	border-color: #4c4c4c
}*/
 


.file {
    font-size: 12px !important;
    width: 170px;
}
.file:hover{
color: #fff;
background-color: #3276b1;
border-color: #285e8e;}

.file input { background:#000; padding:10px;}


#borwes_text { float:left;}
#ima_sow {
float: left;
border: solid 1px;
clear: both;
width: 162px;
height: 132px;
margin-top: 7px;
}
 @media only screen and (min-width:1200px) and (max-width: 1580px) {
.top-header {
	background: #0866c6;
	clear: both;
	display: table;
	width: 100%;
	padding-bottom: 2%;
}
.nav li {
	float: left;
	padding: 10px 20px;
	border-right: 1px solid #181818;
}
.leftpanel {
	width: 30%;
	color: #fff;
	float: left;
	max-width: 245px;
	height: 500px;
	position: static;
	margin-top: 10px;
}
.right-panel {
	float: right;
	width: 78%;
	max-width: 947px;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
}
 @media only screen and (min-width:1200px) and (max-width: 1400px) {
.top-header {
	background: #0866c6;
	clear: both;
	display: table;
	width: 100%;
	padding-bottom: 2%;
}
.nav li {
	float: left;
	padding: 10px 20px;
	border-right: 1px solid #181818;
}
.leftpanel {
	width: 30%;
	color: #fff;
	float: left;
	max-width: 245px;
	height: 100%;
	position: static;
}
.right-panel {
	float: right;
	width: 73%;
	max-width: 947px;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
}
 @media only screen and (min-width:1000px) and (max-width: 1200px) {
.top-header {
	background: #0866c6;
	clear: both;
	display: table;
	width: 100%;
	padding-bottom: 2%;
}
.nav li {
	float: left;
	padding: 10px 20px;
	border-right: 1px solid #181818;
}
.leftpanel {
	width: 30%;
	color: #fff;
	float: left;
	max-width: 245px;
	height: 100%;
	position: static;
}
.right-panel {
	float: right;
	width: 68%;
	max-width: 947px;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
}
 @media only screen and (min-width:800px) and (max-width: 1000px) {
.top-header {
	background: #0866c6;
	clear: both;
	display: table;
	width: 100%;
	padding-bottom: 2%;
}
.nav {
	width: 75%;
	max-width: 1200px;
	margin: auto;
}
.nav li {
	float: none;
	padding: 10px 20px;
	border-bottom: 1px solid #181818;
	border-right: 0px solid #181818;
}
.leftpanel {
	width: 30%;
	color: #fff;
	float: left;
	max-width: 245px;
	height: 100%;
	position: static;
}
.right-panel {
	float: right;
	width: 66%;
	max-width: 947px;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
.gender_id {
	font-size: 14px;
	color: #606060;
	padding: 3px 0px 0px 11px;
	float: left;
	width: 42%;
}
}
 @media only screen and (min-width:560px) and (max-width: 800px) {
.admin-right {
	float: right;
	background-color: #002952;
	border-radius: 5px;
	display: table;
}
#admin-text {
	float: right;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
#admin-img img {
	width: 28px;
	float: left;
}
#admin-text span {
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
	padding-top: 14px;
	display: block;
	float: left;
}
#body-conten {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	clear: both;
}
#logout {
	display: block;
	float: right;
	text-decoration: none;
	padding-left: 15px;
	background: url(../images/logoff.png) no-repeat left center;
	margin: 14px 7px 20px 13px;
}
.nav {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.nav li {
	float: none;
	padding: 10px 20px;
	border-bottom: 1px solid #181818;
	border-right: 0px solid #181818;
}
.right-panel {
	float: left;
	width: 100%;
	max-width: 947px;
	display: block;
}
.VS-search .VS-search-box {
	background: none repeat scroll 0 0 #e1eff4;
	border: 2px solid #b5b5b5;
	border-radius: 10px;
	box-shadow: 0 0 3px #CCCCCC inset;
	cursor: text;
	height: 35px;
	margin-top: 10px;
	min-height: 28px;
	position: relative;
	width: 100%;
}
.one_wrap {
	width: 100%;
	display: inline-block;
}
table.activity_datatable td {
	padding: 10px 15px;
	color: #6c6c6c;
	vertical-align: middle;
	text-align: left;
	font-size: 11px;
}
table.activity_datatable th {
	background: url(../images/thead_bg.png) repeat-x bottom center;
	text-transform: uppercase;
	font-size: 12px;
	color: #6c6c6c;
	text-align: left;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #d3d3d3;
	box-shadow: inset 0px 1px 0px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 0px 1px #fff;
}
.leftpanel {
	width: 100%;
	color: #fff;
	float: none;
	max-width: inherit;
	height: 100%;
	position: relative;
	clear: left;
}
}
 @media only screen and (min-width:460px) and (max-width: 560px) {
.admin-right {
	float: right;
	background-color: #002952;
	border-radius: 5px;
	display: table;
}
#admin-text {
	float: right;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
#admin-img img {
	width: 28px;
	float: left;
}
#admin-text span {
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
	padding-top: 14px;
	display: block;
	float: left;
}
#body-conten {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	clear: both;
}
#logout {
	display: block;
	float: right;
	text-decoration: none;
	padding-left: 15px;
	background: url(../images/logoff.png) no-repeat left center;
	margin: 14px 7px 20px 13px;
}
.nav {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.nav li {
	float: none;
	padding: 10px 20px;
	border-bottom: 1px solid #181818;
	border-right: 0px solid #181818;
}
.right-panel {
	float: left;
	width: 100%;
	max-width: 947px;
	display: block;
}
.VS-search .VS-search-box {
	background: none repeat scroll 0 0 #e1eff4;
	border: 2px solid #b5b5b5;
	border-radius: 10px;
	box-shadow: 0 0 3px #CCCCCC inset;
	cursor: text;
	height: 35px;
	margin-top: 10px;
	min-height: 28px;
	position: relative;
	width: 100%;
}
.one_wrap {
	width: 100%;
	display: inline-block;
}
table.activity_datatable td {
	padding: 0px 0px;
	color: #6c6c6c;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
}
table.activity_datatable th {
	background: url(../images/thead_bg.png) repeat-x bottom center;
	text-transform: uppercase;
	font-size: 12px;
	color: #6c6c6c;
	text-align: left;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #d3d3d3;
	box-shadow: inset 0px 1px 0px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 0px 1px #fff;
	padding: 0px 0px 0px 20px;
}
.leftpanel {
	width: 100%;
	color: #fff;
	float: none;
	max-width: inherit;
	height: 100%;
	position: relative;
	clear: left;
}
.right_gender {
	float: right;
	color: #797979;
	padding: 5px 10px 5px 10px;
	width: 37%;
	word-wrap: break-word;
	font-size: 12px;
}
.gender_id {
	font-size: 12px;
	color: #606060;
	padding: 3px 0px 0px 11px;
	float: left;
	width: 42%;
}
.title {
	float: left;
	font-size: 19px;
	color: #0866c6;
	width: 40%;
	padding-top: 14px;
}
}
 @media only screen and (min-width:300px) and (max-width: 460px) {
.admin-right {
	margin: auto;
	background-color: #002952;
	border-radius: 5px;
	display: table;
	clear: both;
}
#admin-text {
	float: right;
}
#search_filter {
	float: left;
	width: 100%;
}
#search_box {
	float: left;
	width: 100%;
}
#admin-img img {
	width: 28px;
	float: left;
}
#admin-text span {
	margin-left: 5px;
	font-size: 14px;
	color: #fff;
	padding-top: 14px;
	display: block;
	float: left;
}
#body-conten {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	clear: both;
}
#logout {
	display: block;
	float: right;
	text-decoration: none;
	padding-left: 15px;
	background: url(../images/logoff.png) no-repeat left center;
	margin: 14px 7px 20px 13px;
}
.nav {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}
.nav li {
	float: none;
	padding: 10px 20px;
	border-bottom: 1px solid #181818;
	border-right: 0px solid #181818;
}
.right-panel {
	float: left;
	width: 100%;
	max-width: 947px;
	display: block;
}
.VS-search .VS-search-box {
	background: none repeat scroll 0 0 #e1eff4;
	border: 2px solid #b5b5b5;
	border-radius: 10px;
	box-shadow: 0 0 3px #CCCCCC inset;
	cursor: text;
	height: 35px;
	margin-top: 10px;
	min-height: 28px;
	position: relative;
	width: 100%;
}
.one_wrap {
	width: 100%;
	display: inline-block;
}
table.activity_datatable td {
	padding: 0px 0px;
	color: #6c6c6c;
	vertical-align: middle;
	text-align: center;
	font-size: 11px;
}
table.activity_datatable th {
	background: url(../images/thead_bg.png) repeat-x bottom center;
	text-transform: uppercase;
	font-size: 12px;
	color: #6c6c6c;
	text-align: left;
	border-right: solid 1px #e5e5e5;
	border-bottom: solid 1px #d3d3d3;
	box-shadow: inset 0px 1px 0px 1px #fff;
	-webkit-box-shadow: inset 0px 1px 0px 1px #fff;
	padding: 0px 0px 0px 20px;
}
.leftpanel {
	width: 100%;
	color: #fff;
	float: none;
	max-width: inherit;
	height: 100%;
	position: relative;
	clear: left;
}
.right_gender {
	float: right;
	color: #797979;
	padding: 5px 10px 5px 10px;
	width: 37%;
	word-wrap: break-word;
	font-size: 12px;
}
.gender_id {
	font-size: 12px;
	color: #606060;
	padding: 3px 0px 0px 11px;
	float: left;
	width: 42%;
}
.title {
	float: left;
	font-size: 19px;
	color: #0866c6;
	width: 100%;
	padding-top: 14px;
}
}
